button {
    color: rgb(245, 181, 172);
    background-color: rgb(100, 13, 10);
    font-family: 'Franklin Gothic Medium';
    font-size: 80px;
    padding-left: 20px;
    padding-right: 20px;
    border-color:rgb(54, 7, 5);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

h1 {
    color: rgb(245, 181, 172);
    font-family: 'Times New Roman';
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    font-size: 200px;
    border-bottom-style: solid;
    border-bottom-width: 20px;
}

h2 {
    font-size: 40px;
    padding-top: 50px;
}

label {
    font-size: 30px;
}

#loginStatus {
    font-size: 100px;
}

body {
    background-color: rgb(153, 8, 32);
    color:rgb(245, 181, 172);
    text-align: center;
}